/*
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
*/
p{
    color: brown;
    font-family: 'Indie Flower', cursive;
}
h2{
    color: blue;
    font-family: 'Indie Flower', cursive;
}